In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
from bs4 import BeautifulSoup, SoupStrainer
import sys, string, requests, datetime, time
%matplotlib inline

In [16]:
players_merged_df = pd.read_csv('Tables/players_merged_df.csv')

In [17]:
players_merged_df.head()

,name,active_from,active_to,birth_date,position,ppg,trb,ast,height_inches,weight,shooting_hand,draft,college,high_school,url
0,Alaa Abdelnaby,1991,1995,"June 24, 1968",F-C,5.7,3.3,0.3,82.0,240,Right,"Portland Trail Blazers, 1st round (25th pick, ...",Duke University,"Bloomfield in Bloomfield, New Jersey",/players/a/abdelal01.html
1,Zaid Abdul-Aziz,1969,1978,"April 7, 1946",C-F,9.0,8.0,1.2,81.0,235,Right,"Cincinnati Royals, 1st round (5th pick, 5th ov...",Iowa State University,"John Jay in Brooklyn, New York",/players/a/abdulza01.html
2,Kareem Abdul-Jabbar,1970,1989,"April 16, 1947",C,24.6,11.2,3.6,86.0,225,Right,"Milwaukee Bucks, 1st round (1st pick, 1st over...","University of California, Los Angeles","Power Memorial in New York, New York",/players/a/abdulka01.html
3,Mahmoud Abdul-Rauf,1991,2001,"March 9, 1969",G,14.6,1.9,3.5,73.0,162,Right,"Denver Nuggets, 1st round (3rd pick, 3rd overa...",Louisiana State University,"Gulfport in Gulfport, Mississippi",/players/a/abdulma02.html
4,Tariq Abdul-Wahad,1998,2003,"November 3, 1974",F,7.8,3.3,1.1,78.0,223,Right,"Sacramento Kings, 1st round (11th pick, 11th o...","University of Michigan, San Jose State University","Lycee Aristide Briand in Evreux, France",/players/a/abdulta01.html

In [18]:
players_merged_df.describe()

,active_from,active_to,ppg,trb,ast,height_inches,weight
count,158.000000,158.000000,156.000000,156.000000,156.000000,158.000000,158.000000
mean,1991.177215,1995.879747,6.503846,3.014103,1.387179,78.360759,213.322785
std,19.224626,20.142915,4.977626,2.014062,1.401185,3.736919,27.931278
min,1947.000000,1947.000000,0.000000,0.100000,0.000000,70.000000,137.000000
25%,1974.250000,1979.000000,3.000000,1.575000,0.500000,75.250000,190.000000
50%,1993.500000,2001.500000,5.250000,2.700000,0.900000,79.000000,215.000000
75%,2008.000000,2014.000000,8.125000,4.025000,1.700000,81.000000,235.000000
max,2018.000000,2018.000000,24.600000,11.200000,7.400000,86.000000,280.000000

In [23]:
left = []
right = []
height = []
weight = []
ppg = []
trb = []
ast = []

start = players_merged_df.active_from.min()
end = players_merged_df.active_from.max()

for year in range(start,end):
    active = (players_merged_df.active_from.values <= year) & (players_merged_df.active_to >= year) # only include active players
    left.append(1.0*np.sum(players_merged_df[active].shooting_hand == 'Left')) # number of left handed shooters
    right.append(1.0*np.sum(players_merged_df[active].shooting_hand == 'Right')) # number of right handed shooters
    height.append(np.mean(players_merged_df[active].height_inches)) # average height in inches
    weight.append(np.mean(players_merged_df[active].weight)) # average weight in pounds
    ppg.append(np.mean(players_merged_df[active].ppg))
    trb.append(np.mean(players_merged_df[active].trb))
    ast.append(np.mean(players_merged_df[active].ast))
    
# create a DataFrame with a summary
years = pd.DataFrame({'season': np.arange(start,end), 
                      'right': right,
                      'left': left,
                      'height': height,
                      'weight': weight,
                      'ppg': ppg,
                      'trb': trb,
                      'ast': ast}).set_index('season')

# preview
years.head()

        ast  height  left   ppg  right   trb  weight
season
1947    NaN    72.5   0.0   NaN    0.0   NaN   166.0
1948    NaN    75.0   0.0   NaN    0.0   NaN   195.0
1949    2.3    71.0   0.0   6.8    1.0  2.30   170.0
1950    2.3    71.0   0.0   6.8    1.0  2.30   170.0
1951    2.3    73.5   0.0  14.8    2.0  5.45   180.0